<div fxFill class="slide-in-fwd-center" fxLayout="column" fxLayoutAlign="center center" >
    <span class="sign-in-title text-center"><strong class="bold">LOGIN</strong></span>
    <form [formGroup]="signInForm" (ngSubmit)="handleSignIn()" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <mat-label>Username or Email <span class="trans">.</span></mat-label>
        <input matInput formControlName="Email" class="form-control">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="Password" class="form-control">
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="slide-in-fwd-center" appearance="outline" *ngIf="checkingInputEmail()">
        <mat-label> Client ID </mat-label>
        <input matInput formControlName="Client_Id" class="form-control">
      </mat-form-field>
      <button class="width-login-btn" mat-raised-button [disabled]="!signInForm.valid || bSignIn || (checkingInputEmail() && checkInputClientId())">
        <span *ngIf="!bSignIn" class="btn-login-text">LOGIN</span>
        <mat-spinner *ngIf="bSignIn" mode="indeterminate" [diameter]="30"></mat-spinner>
      </button>
    </form>
</div>
  