<div fxLayout="row wrap" fxLayoutAlign="center">
  <h1 class="systems-title">MY ACTIVE SYSTEMS</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center">
    <ng-container *ngFor="let system of systems">
      <mat-card *ngIf="system.active == 1" class="systems-card" fxLayout="column" fxLayoutAlign="center center">
        <div class="login-container">
          <div>
            <span class="card-title">{{system.name}}</span>
          </div>
          <div class="my-4">
              <img height="125" src="{{system.icon}}" alt="">
          </div>
        </div>
        <div class="width-100" fxLayoutAlign="center center">
          <button (click)="launch(system)" class="systems-card-btn" mat-raised-button>LAUNCH</button>
        </div>
      </mat-card>
    </ng-container>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <h1 class="systems-title">DISCOVER THESE SYSTEMS</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center">
  <ng-container *ngFor="let system of systems">
    <mat-card (click)="discover(system)" *ngIf="system.active == 0" class="litle-card" fxLayout="row" fxLayoutAlign="center center">
      <img width="55" src="{{system.icon}}" alt="">
      <span class="litle-title">{{system.name}}</span>
    </mat-card>
  </ng-container>
</div>
