<div fxFill class="slide-in-fwd-center login-bg" fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="row" fxLayoutAlign="center center">
      <div class="login-container">
        <div class="text-center logo-container">
          <img height="75" src="https://images.g2crowd.com/uploads/product/image/large_detail/large_detail_d32b5f14bfc4a5b30dbc37826da69e8d/shocklogic.png" alt="">
        </div>
        <div class="title-container">
            <h1 class="sign-in-title text-center">LOST PASSWORD</h1>
            <div class="linear-gradient-border mt-3"></div>
        </div>
        <form *ngIf="bFirstStep" [formGroup]="forgotPasswordFirstStepForm" (ngSubmit)="handleFirstStep()" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="Email" class="form-control">
            </mat-form-field>
            <p class="text-center info-msg">When you click "Send" a change of password request will be sent to your super user</p>
            <button class="width-login-btn" mat-raised-button fxLayoutAlign="center center" [disabled]="!forgotPasswordFirstStepForm.valid || bForgotPassword || checkingInputEmail(forgotPasswordFirstStepForm)">
              <span *ngIf="!bForgotPassword" class="btn-login-text">SEND</span>
              <mat-spinner *ngIf="bForgotPassword" mode="indeterminate" [diameter]="30"></mat-spinner>
            </button>
        </form>
        <form *ngIf="bSecondStep && clients" [formGroup]="forgotPasswordSecondStepForm" (ngSubmit)="handleSecondStep()" fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" class="form-control">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Client ID</mat-label>
              <mat-select formControlName="Client_Id" class="form-control">
                <mat-option *ngFor="let client of clients" [value]="client">
                  {{client}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <p class="text-center info-msg">When you click "Send" a change of password request will be sent to your super user</p>
          <button class="width-login-btn" mat-raised-button fxLayoutAlign="center center" [disabled]="!forgotPasswordSecondStepForm.valid || bForgotPassword || checkingInputEmail(forgotPasswordSecondStepForm)">
            <span *ngIf="!bForgotPassword" class="btn-login-text">SEND</span>
            <mat-spinner *ngIf="bForgotPassword" mode="indeterminate" [diameter]="30"></mat-spinner>
          </button>
      </form>
        <div class="links-container text-center" fxLayout="column" fxLayoutAlign="center center">
          <a class="sl-link" routerLink="/auth/login">Go to Login</a>
        </div>
      </div>
    </mat-card>
</div>
  
  