/* You can add global styles to this file, and also import other style files */

$shocklogic-font: 'Montserrat', sans-serif;
$shocklogic-orange: #FD814C;
$shocklogic-dark: #222327;
$shocklogic-light: whitesmoke;
$shocklogic-blue: #5454C9;

body {
    height: 100%;
    box-sizing: border-box;
    background-color: $shocklogic-light;
    color: $shocklogic-dark;
    font-family: $shocklogic-font;
    margin: 0px;
}
  
html { height: 100%; box-sizing: border-box; margin: 0; }

.shocklogic-font{ font-family: $shocklogic-font; }
.shocklogic-blue{ color: $shocklogic-blue; }
.shocklogic-dark{ color: $shocklogic-dark; }

.header{ flex: 0 0 auto; }
.content{ flex: 1 1 auto; overflow-y: auto; }
.footer{ flex: 0 0 auto; }

mat-form-field.mat-form-field {
    font-size: 14px;
    font-family: $shocklogic-font;
    width: 250px;
    color: $shocklogic-dark;
}

.mat-snack-bar-container{ background-color: white; color: $shocklogic-dark; }

.mat-simple-snackbar, .mat-button-wrapper{ font-family: $shocklogic-font; font-size: smaller; }

mat-toolbar{ background-color: white !important; font-family: $shocklogic-font !important; }

.header mat-toolbar{ box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2); margin-bottom: 2px !important; }

.width-100{ width: 100%; }
.width-75{ width: 75%; }

.height-100{ height: 100%; }

.spacer { flex: 1 1 auto; }

.btn-none { width: 40px; height: 40px; }

.footer mat-toolbar{ box-shadow: 0px -2px 1px -1px rgba(0, 0, 0, 0.2); margin-top: 2px !important; }

ngx-bottom-nav{ background: #212121; }
ngx-bottom-nav-button:not(.active) { --ngx-bottom-nav-button-color: whitesmoke; }

.text-center{ text-align: center; }
.text-left{ text-align: left; }

.ml--15{ margin-left: -15px !important; }
.mr--15{ margin-right: -15px !important; }
.mx-20{ margin-left: 20px; margin-right: 20px;}
.mt-20{ margin-top: 20px !important; }
.mt-40{ margin-top: 40px !important; }
.mb-20{ margin-bottom: 20px !important; }
.mb-40{ margin-bottom: 40px !important; }

:host ::ng-deep td.mat-cell { padding-left: 0px; }

.rotate-180{ transform: rotate(180deg); }

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
  }
