@import '~@angular/material/theming';

@include mat-core();

$mat-shocklogic-primary: (
    0: #FF6E0B, // SHOCKLOGIC ORANGE
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$theme-primary: mat-palette($mat-shocklogic-primary, 0); //THE COLOR OR PERSONALIZED IS FOUND (LINE 1000): node_modules\@angular\material\_theming.scss
$theme-accent:  mat-palette($mat-shocklogic-primary, 0);
$theme-warn:    mat-palette($mat-red);

$theme-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme-theme);