.navbar-logo{
    height: 50px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.pl-2{
    padding-left: .5rem!important;
}

.navbar-title{
    font-size: initial;
    border-left: 1px solid #fff;
    line-height: 1.1;
}

.fw-800{
    font-weight: 800;
}

.navbar-btn{
    color: #FFF;
    font-size: inherit;
}

.fs-inherit{
    font-size: inherit;
}